/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);
  --altbody-color: #dee9ee;
  --altwhite-color: #f3f7f9;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Hanken Grotesk";
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}
/*=============== BASE ===============*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.main {
  flex: 1;
  padding-top: 80px; 
  padding-bottom: 60px; 
  background-color: #b7dae2;
}



body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--altbody-color);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  /* margin-inline: 1rem; */
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--altwhite-color);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--black-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
}

.nav__logo img {
  width: 50px;
  height: 50px;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}


.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* ============== TEXT STYLING =========== */
.home__title,
.home__description {
    overflow: hidden;
}

/* General Animation styles */
.text-reveal {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
  animation: revealText 1s ease forwards;
}

.home__title.text-reveal {
  animation-delay: 0.2s;
}

.home__description.text-reveal {
  animation-delay: 0.4s;
}

.home__regist.text-reveal-emphasis {
  animation-delay: 0.6s;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.home__button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.home__button:hover {
  background-color: #0056b3;
}


/* Keyframes for general text reveal */
@keyframes revealText {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Keyframes for emphasized text reveal */
@keyframes revealTextEmphasis {
  0% {
      opacity: 0;
      transform: translateY(100%);
  }
  60% {
      opacity: 1;
      transform: translateY(-10%);
  }
  100% {
      transform: translateY(0);
  }
}



/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--altwhite-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--black-color);
  background-color: var(--altwhite-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: #d5d1de;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== BREAKPOINTS NAV DISPLAY ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* ===== Nav Display ===== */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }
}



/* ====== FOOTER =======*/
.footer{
  position: relative;
  bottom: 0;
  background-color: var(--altwhite-color);
  color: var(--black-color);
  width: 100%;
  padding-block: 3rem 2rem;
  margin-top: auto;
  margin-inline: auto;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  margin-top: auto;
  padding: 0 1rem;
}

.footer__logo img {
  width: 20px;
  height: auto;
}

.footer__logo{
  display: inline-flex;
  column-gap: .25rem;
}

.footer__content{
  display: flex;
  gap: 2rem;
  flex: 1;
}

.footer__links, .footer__layanan{
  list-style: none;
  padding: 0;
}

.footer__links a, .footer__layanan a{
  text-decoration: none;
  color: var(--black-color);
  font-size: 14px;
}

.footer__title{
  font-size: 14px;
  color: var(--black-color);
}

.footer__description, .footer__email {
  text-align: left;
  font-size: 14px;
}

.footer__logo span{
  color: var(--black-color);
  font-size: 14px;
  font-weight: var(--font-semi-bold);
}

.footer__copy {
  margin-top: 2rem;
  font-size: 14px;
  text-align: center;
  color: white;
}

.footer__email,
.footer__info{
  font-style: normal;
  text-align: left;
}



/* Yajra Datables */
/* Agar tabel tidak terpotong dan pas dengan layar */
.table__body {
  overflow-x: auto; /* Aktifkan scroll horizontal jika tabel terlalu lebar */
}

/* Atur tabel agar memanfaatkan lebar penuh */
#mitra-table-body {
  width: 100%; /* Atur lebar tabel */
  border-collapse: collapse; /* Agar tidak ada space antara border */
}

/* Atur kolom untuk menyesuaikan isi */
#mitra-table-body th, 
#mitra-table-body td {
  text-align: left; /* Rata kiri konten dalam kolom */
  padding: 10px; /* Spasi dalam sel */
  white-space: nowrap; /* Cegah teks agar tidak memotong di baris baru */
}

.dataTables_filter {
  display: flex; /* Mengatur konten dalam flexbox */
  align-items: center; /* Vertikal align center */
  margin-bottom: 1rem;
  margin-top: 0rem;
  margin-right: 1rem;
}

.dataTables_filter input {
  
  height: 30px; /* Atur tinggi input */
  background-color: #fff5; /* Warna latar belakang */
  padding: 0 0.8rem; /* Padding kanan dan kiri */
  padding-left: 40px; /* Menambahkan padding kiri untuk memberikan ruang bagi ikon */
  border-radius: 10rem; /* Sudut melengkung */
  border: 1px solid #ccc; /* Border input */
  outline: none; /* Menghilangkan outline */
  transition: .2s; /* Transisi saat hover */
  width: auto;
  max-width: 200px;
}

.table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}


/* Mengatur posisi relative pada parent untuk menempatkan ikon dan input dengan baik */
.table__body {
  position: relative; /* Mengatur posisi relatif untuk parent */
  margin-top: 20px; /* Atur jarak antara input dan tabel */
  overflow-x: auto;
}

/* Style untuk dropdown filter dan ikon filter */

.filter-section select {
  width: 200px;
}
.filter-section {
    display: flex;
    align-items: center;
}

.filter-section select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-section .ri-filter-3-line {
    color: #333; /* Warna ikon */
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.card p {
  text-align: left;
  margin-bottom: 20px;
}



