/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);
  --altbody-color: #dee9ee;
  --altwhite-color: #f3f7f9;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Hanken Grotesk";
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* curves */


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--altbody-color);
  /* background: url('../gambar/sky.png'); */
  background-size: cover;
  background-position: center;
  height: 100vh; 
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--altwhite-color);
  /* box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3); */
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--black-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
}

.nav__logo img {
  width: 50px;
  height: 50px;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* ============== TEXT STYLING =========== */
.home__title,
.home__description {
    overflow: hidden;
}

/* General Animation styles */
.text-reveal {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    animation: revealText 1s ease forwards;
}

.text-reveal:nth-child(1) {
    animation-delay: 0.2s;
}

.text-reveal:nth-child(2) {
    animation-delay: 0.4s;
}

/* Emphasized animation for last line */
.text-reveal-emphasis {
    animation: revealTextEmphasis 1.5s ease forwards;
    animation-delay: 0.8s;
}

/* Keyframes for general text reveal */
@keyframes revealText {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for emphasized text reveal */
@keyframes revealTextEmphasis {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    60% {
        opacity: 1;
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}


/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--altwhite-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--black-color);
  background-color: var(--altwhite-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: #d5d1de;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== BREAKPOINTS NAV DISPLAY ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* ===== Nav Display ===== */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }
}

/*===== Section Home =====*/
.home{
  background-size: cover;
  min-height: 100vh;
  position: relative;
  /* padding-bottom: 3.5rem; */
}

.home__container{
  padding-top: 10.5rem;
  min-height: 100vh;
  flex: 1;
}

/* .home__bg{ */
  /* display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; */
/* } */

.home__data{
  position: relative;
  text-align: center;
  z-index: var(--z-tooltip);
}

.home__title{
  padding-top: 1cm;
  font-size: 40px;
  margin-bottom: 1rem;
  color: var(--black-color);
}

.home__description{
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
}

.home__regist{
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
}


/* Button */
.home__button{
  display: inline-flex;
  background: #171c26;
  color: white;
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  border-radius: .5rem;
  transition: box-shadow .4s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.home__button:hover, .btn:focus, .btn:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* .home__button:hover{
  box-shadow: 0 16px 48px hsla(353, 90%, 56%, .4);
} */

/* .home__images img {
  position: absolute;
  max-width: initial;
  width: 700px;
  right: 2rem;
  bottom: 0;
  padding-bottom: 1cm;
} */

/* ====== TABEL =======*/
body .home .table {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.table {
  width: 82vw;
  max-height: 85vh;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  /* display */
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  margin: 10rem auto 5rem;
  /* padding-top: 6rem; */
}

.table__header {
  width: 100%;
  height: 10%;
  padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__header h1 {
  color: rgb(25, 25, 25);
}
/* 
.input__group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 .8rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.input__group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 .1rem .4rem #0002;
}

.input__group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
} */


.table__body {
  width: 95%;
  max-height: 70vh;
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow-y: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}

table {
  width: 100%;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  /* z-index: 1; */
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  
  text-align: center;
  font-size: 1rem;
  
  margin-left: .5rem;
  transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
  border: 1.4px solid #6c00bd;
}

thead th:hover {
  color: #6c00bd;
}

thead th.active span.icon-arrow{
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow{
  transform: rotate(180deg);
}

thead th.active,tbody td.active {
  color: #6c00bd;
}

/* ====== FOOTER =======*/
.footer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--altwhite-color);
  color: var(--black-color);
  width: 100%;
  padding-block: 3rem 2rem;
  padding-left: 3.5vw;
  /* box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3); */
}

.footer__container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
}

.footer__logo img {
  width: 20px;
  height: auto;
}

.footer__logo{
  display: inline-flex;
  /* align-items: center; */
  column-gap: .25rem;
  /* margin-bottom: 1rem; */
}

.footer__content{
  display: flex;
  gap: 4rem;
  flex: 1;
}

.footer__links, .footer__layanan{
  list-style: none;
  padding: 0;
}

.footer__links a, .footer__layanan a{
  text-decoration: none;
  color: var(--black-color);
  font-size: 14px;
}

.footer__title{
  font-size: 14px;
  color: var(--black-color);
  margin-bottom: 0.5rem;
}

.footer__description, .footer__email {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 14px;
}

.footer__logo span{
  color: var(--black-color);
  font-size: 14px;
  font-weight: var(--font-semi-bold);
}

.footer__copy {
  margin-top: 2rem;
  font-size: 14px;
  text-align: center;
  color: white;
}

.footer__email,
.footer__info{
  font-style: normal;
  text-align: left;
}

/*===== Mobile Display =====*/
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
  .home__title {
    font-size: 2rem; 
    padding-top: 1rem; 
  }
  .home__description {
    font-size: 14px; 
  }
  .home__regist{
    font-size: 12px;
  }
  .home__button {
    padding: 0.5rem 1rem;
  }
  .home__images img {
    width: 100%;
  }
}

/* Tablet and Small Devices */
@media screen and (min-width: 350px) and (max-height: 680px) {
  .home__container {
    height: 700px;
  }
}

@media screen and (min-width: 576px) {
  .home__data {
    /* max-width: 380px; */
    margin-inline: auto;
  }
  .home__title {
    font-size: 2.5rem;
  }
}

/* Mobile layout (stacked vertically) */
@media screen and (max-width: 768px) {
  .footer__container {
    gap: 1.5rem; 
    padding-inline: 1rem;
  }
}

/* Large Devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .home__container {
    height: 960px;
  }
  .home__data {
    max-width: 610px;
    text-align: initial;
    margin: 0;
  }
  .home__description {
    padding-right: 7rem;
    margin-bottom: 3rem;
  }
}

/* 2K Devices */
@media screen and (min-width: 2048px) and (min-height: 1100px) {
  .container {
    max-width: 1300px;
  }
  .home__container {
    height: 100vh;
    display: grid;
  }
  .home__data {
    align-self: center;
  }
}

/* Taller Devices */
@media screen and (max-width: 1150px) and (min-height: 900px) {
  /* .home__container {
    display: grid;
  } */
  .home__data {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .home__title {
    font-size: 30px; 
    padding-top: 2rem; 
  }
  .home__description {
    font-size: 14px; 
    margin-bottom: 1rem; 
  }
  .home__regist {
    font-size: 12px;
    margin-bottom: 1rem;
  }
  .home__button {
    padding: 0.8rem 1.5rem;
    font-size: 14px; 
  }
  .home__images img {
    width: 100%; 
    max-width: 400px; 
    right: 0; 
    bottom: 1rem; 
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {

  .footer__title {
    text-align: left;
    font-size: 12px;
    margin-bottom: 0.5rem;
  }

  .footer__links a, .footer__layanan a {
    font-size: 12px; /* Ukuran font untuk mobile */
  }
}

/* Untuk layar dengan lebar maksimum 480px (ponsel kecil) */
@media screen and (max-width: 480px) {
  .footer__content {
    flex-direction: row;/* Kembali bertumpuk pada layar kecil */
  }

  .footer__links a, .footer__layanan a {
    font-size: 12px;
  }

  .footer__title {
    font-size: 12px;
  }
}




